body{
    font-family: cursive;
    text-align: center;
}


.timer{
    color: black;
    text-align: center;
    width: 320px;
    height: 320px;
    border: 5px solid black;
    border-radius: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
}

.row{
    width: 100%
}

.controls{
    padding-top: 20px;
}


.start{
    color: black;
    text-align: center;
    width: 80px;
    height: 50px;
    border: 2px solid black;
    box-shadow: 3px 3px black;
    cursor: pointer;

}
.start:hover{
    background-color: lightgray;
}
.reset{
    color: black;
    text-align: center;
    width: 80px;
    height: 50px;
    border: 2px solid black;
    box-shadow: 3px 3px black;
    cursor: pointer;

}
.reset:hover{
    background-color: lightgray;
}
.container_settings{
    align-items: center;
    padding-left: 20px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 40%;
    margin: 0 auto;

}

.container_pomodoro{
    color: black;
    text-align: center;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;

}


.container_shortbreak{
    color: black;
    text-align: center;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;

}

.container_longbreak{
    color: black;
    text-align: center;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;

}


.btn{
       color: white;
       background-color: black;
       border: 1px solid black;
       border-radius: 160px;
       cursor: pointer;
    }

.btn:hover{
    color: black;
    background-color: white;
}

